{{!--
This header template is shared across all the pages.
--}}

<!-- Beta Header -->
  <div style="width: 100%; text-align: center; padding: 0px 0px 15px 0px; font-size:1.16em; background-color: var(--footer-background-color); color: #fff;">
      <p class="translateMe">Busrides is in the beta phase of development. Regular site updates are made to enhance your experience!</p>
      <p>
        <a href="mailto:csps.digitalacademy-academiedunumerique.efpc@canada.ca?Subject=Busrides%20Feedback" 
         class="translateMe translateMeProp provideFeedbackLink" 
         data-translateMeProp="href" >Provide feedback</a>
      </p>
  </div>
  <!-- Beta Header -->
{{#if background}}
  <header class="m-header with-picture js-header">
{{else}}
  <header class="m-header js-header">
{{/if}}
  <div class="m-mobile-topbar" data-aos="fade-down">
          <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="Open menu">
            <span class="icon-menu"></span>
        </button>
    {{#if @site.logo}}
      <a href="{{@site.url}}" class="m-logo in-mobile-topbar translateMe_navLogo">
        <img src="{{@site.logo}}" alt="{{@site.title}}">
      </a>
    {{else}}
      <a href="{{@site.url}}" class="m-site-name in-mobile-topbar">
        {{@site.title}}
      </a>
    {{/if}}
        <button class="m-icon-button in-mobile-topbar js-open-search" aria-label="Open search">
      <span class="icon-search"></span>
    </button>
  </div>
  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="Close menu">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      <div class="l-wrapper">
        <div class="m-nav">
          <nav class="m-nav__left" aria-label="busrides-navigation">
            {{#if @site.navigation}}
              {{navigation}}
            {{/if}}
          </nav>
          <button class="m-icon-button in-menu-main js-open-search" aria-label="Open search">
            <span class="icon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
