{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

<ul>
    {{#if @site.logo}}
    <li class="only-desktop">
        <a href="{{@site.url}}" class="m-logo translateMe_navLogo">
            <img src="{{@site.logo}}" alt="{{@site.title}}">
        </a>
    </li>
    {{else}}
    <li class="only-desktop">
        <a href="{{@site.url}}" class="m-site-name in-desktop-menu translateMe_navLogo">
            {{@site.title}}
        </a>
    </li>
    {{/if}}
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} translateMe_navItem">
        <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
    <li class="js-submenu-option">
        <button class="m-icon-button js-toggle-submenu translateMe translateMeProp" data-translateMeProp="aria-label" aria-label="Toggle submenu">Topics</button>
        <div class="m-submenu js-submenu">
            <div class="l-wrapper in-submenu">
                <section class="m-tags">
                    {{#get "tags" limit="all"}}
                    <ul>
                        {{#foreach tags}}
                        <li class="translateMe_tag" style="font-size:1rem;">
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{else}}
                        <li class="m-no-found translateMe">No tags found :(</li>
                        {{/foreach}}
                    </ul>
                    {{/get}}
                </section>
            </div>
        </div>
    </li>
</ul>