<script>
    // Used to update the language in localstorage, called from createNavItem helper
    function updateLang(lang){
        if (localStorage){
            localStorage.langIsEnglish = lang;
        }
    }
</script>

<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @site.logo}}
            <a class="site-nav-logo"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
            <a class="site-nav-logo">{{@site.title}}</a>
        {{/if}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{!-- {{#if @site.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @site.twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}} --}}
            {{!-- English --}}
            <a class="social-link social-link-tw english-tw" href="https://twitter.com/DigiAcademyCAN" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{!-- French --}}
            <a class="social-link social-link-tw french-tw" href="https://twitter.com/AcademieNumCAN" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/if}}
    </div>
</nav>

<script>
    if (localStorage){
        if (JSON.parse(localStorage.langIsEnglish)){
            document.querySelector(".french-tw").style = "display:none";
        }
        else {
            document.querySelector(".english-tw").style = "display:none";
        }
    }
    else{
        document.querySelector(".french-tw").style = "display:none";
    }
</script>
