<script>
    // Used to update the language in localstorage, called from createNavItem helper
    function updateLang(lang){
        if (localStorage){
            localStorage.langIsEnglish = lang;
        }
    }
</script>

<nav class="site-nav">
    <div class="site-nav-left">
        {{!-- {{#if @site.logo}}
            <a class="site-nav-logo"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
            <a class="site-nav-logo">{{@site.title}}</a>
        {{/if}} --}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        
    </div>
</nav>


