{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{!-- {{#if @site.logo}}
                    <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}} --}}
                {{setLogo (navigation)}}
            </h1>
            <h2 id="homepageSiteDescription" class="site-description">{{@site.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

{{!-- This code dynamically updates the site's description under the logo on the homepage --}}
<script>
    if (localStorage.langIsEnglish && JSON.parse(localStorage.langIsEnglish)){
        document.getElementById("homepageSiteDescription").innerText = "Bite sized learning about digital technology and government";
    }
    else {
        document.getElementById("homepageSiteDescription").innerText = "Micro apprentissage sur la technologie et le gouvernement numérique";
    }
</script>
